{{ block "admin" . }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Godos | A Go-Do List to Organise Your Work &amp; Life</title>
    <meta
      name="description"
      content="Godos is a simple todo list application written in Go, utilising HTMX for interactivity and SQLite for storage."
    />
    <link href="static/twcolors.min.css" rel="stylesheet" />
    <link href="static/styles.css" rel="stylesheet" />
    <script src="static/htmx.min.js"></script>
  </head>

  <body>
    <main>
      <h1>Admin Area...</h1>
    </main>

    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", (event) => {
        document.body.addEventListener("htmx:beforeSwap", function (evt) {
          if (evt.detail.xhr.status === 422 || evt.detail.xhr.status === 500) {
            console.log("setting status to paint");
            // allow 422 responses to swap as we are using this as a signal that
            // a form was submitted with bad data and want to rerender with the
            // errors
            //
            // set isError to false to avoid error logging in console
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
          }
        });
      });
    </script>
  </body>
</html>
{{ end }}
