{{ block "index" . }}
<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Godos | A Go-Do List to Organise Your Work &amp; Life</title>
  <meta name="description"
    content="Godos is a simple todo list application written in Go, utilising HTMX for interactivity and SQLite for storage.">
  <link href="static/twcolors.min.css" rel="stylesheet">
  <link href="static/styles.css" rel="stylesheet">
  <script src="static/htmx.min.js"></script>
</head>

<body>
  <main>
    <div class="hero">
      <h1 class="hero__title">Godos</h1>
      <p class="hero__content">
        A minimal todo list app built with Golang, utilizing HTMX for interactivity and SQLite for data storage. Developed on the Echo web framework, it employs Go's HTML templating for a clean, minimalist design
      </p>
      {{ template "waitlist" .LeadForm }}
    </div>
  </main>

  <script type="text/javascript">
  document.addEventListener("DOMContentLoaded", (event) => {
    document.body.addEventListener('htmx:beforeSwap', function (evt) {
      if (evt.detail.xhr.status === 422 || evt.detail.xhr.status === 500) {
        console.log("setting status to paint");
        // allow 422 responses to swap as we are using this as a signal that
        // a form was submitted with bad data and want to rerender with the
        // errors
        //
        // set isError to false to avoid error logging in console
        evt.detail.shouldSwap = true;
        evt.detail.isError = false;
      }
    });
  });
  </script>
</body>
</html>
{{ end }}

{{ block "waitlist" . }}      
<form class="waitlist-form" id="waitlist-form" hx-post="/join-waitlist" hx-swap="outerHTML">
  <p class="waitlist-form__info">
    Join our waitlist to be notified when we go live!
  </p>
  <div class="waitlist-form__group">
    <label class="waitlist-form__label" for="email">
      <input 
        class="waitlist-form__input"
        type="text"
        name="email"
        placeholder="Please enter your email"
        {{ if .Values.email}}
        value="{{ .Values.email }}"
        {{end}} 
        required
      >
    </label>

    <button class="btn waitlist-form__btn" type="submit">Join</button>
  </div>

  {{ if .Errors.email }}
  <p class="waitlist-form__message waitlist-form__message-error">
    {{ .Errors.email }}
  </p>
  {{ end }}
</form>
{{ end }}


